
<!--<div class="header">-->
<!--  <nav style="background-color: cornflowerblue" class="navbar navbar-expand-lg ">-->
<!--    <a class="navbar-brand" href="#"> <i> Save</i></a>-->




<!--    <div class="container">-->
<!--      <div class="collapse navbar-collapse" id="navbarSupportedContent">-->
<!--        <ul class="navbar-nav mr-auto">-->
<!--          <li class="nav-item">-->
<!--            <a class="nav-link" routerLink="" routerLinkActive="active">Danh Sách</a>-->
<!--          </li>-->
<!--          <li class="nav-item">-->
<!--            <a class="nav-link" routerLink="add" routerLinkActive="active">Thêm Mới</a>-->
<!--          </li>-->
<!--        </ul>-->
<!--      </div>-->
<!--    </div>-->

<!--    <form>-->
<!--      <div class="input-group" >-->
<!--        <input placeholder="Search" class="form-control" type="text" name="search" [(ngModel)]="filter">-->
<!--      </div>-->
<!--    </form>-->
<!--  </nav>-->
<!--</div>-->
<div class="container">
  <form>


    <div class="form-group" [formGroup]="validateForm" (ngSubmit)="onSubmit()">
      <label>Name</label>
      <input type="text" class="form-control" name="name" [(ngModel)]="student.name"  formControlName="name">
    </div>
    <div class="alert alert-danger" role="alert" *ngIf="validateForm.get('name').invalid && validateForm.get('name').touched">
      Name Không Hợp Lệ!
    </div>





    <div class="form-group" [formGroup]="validateForm" (ngSubmit)="onSubmit()">
      <label>Position</label>
      <input type="text" class="form-control" name="position" [(ngModel)]="student.position" formControlName="position">
    </div>
    <div class="alert alert-danger" role="alert" *ngIf="validateForm.get('position').invalid && validateForm.get('position').touched">
      Position Không Hợp Lệ!
    </div>





    <div class="form-group" [formGroup]="validateForm" (ngSubmit)="onSubmit()">
      <label>Office</label>
      <input type="text" class="form-control" name="office" [(ngModel)]="student.office" formControlName="office">
    </div>
    <div class="alert alert-danger" role="alert" *ngIf="validateForm.get('office').invalid && validateForm.get('office').touched">
      Office Không Hợp Lệ!
    </div>





    <div class="form-group" [formGroup]="validateForm" (ngSubmit)="onSubmit()">
      <label>Age</label>
      <input type="text" class="form-control" name="age" [(ngModel)]="student.age" formControlName="age">
    </div>
    <div class="alert alert-danger" role="alert" *ngIf="validateForm.get('age').invalid && validateForm.get('age').touched">
      Age Không Hợp Lệ!
    </div>





    <div class="form-group" [formGroup]="validateForm" (ngSubmit)="onSubmit()">
      <label>Start Date</label>
      <input type="date" class="form-control" name="startDate" [(ngModel)]="student.startDate" formControlName="startDate">
    </div>
    <div class="alert alert-danger" role="alert" *ngIf="validateForm.get('startDate').invalid && validateForm.get('startDate').touched">
      StartDate Không Hợp Lệ!
    </div>




    <button class="btn btn-warning" (click)="editStudent()">Edit</button>
    <button (click)="gotoList()" class="btn btn-primary ml-2">Quay lại</button>
  </form>
</div>

